<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="moe.shizuku.manager.permission.API_V23"
        tools:node="remove" />

    <application>
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            tools:node="remove" />

        <receiver
            android:name=".vendor.InstallResultReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.nekohasekai.sfa.INSTALL_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
